
<ul class="w3-ul w3-card-4" style="width:100%">
    @foreach (var d in Devices)
    {
    <li>
        <DeviceControl Device="@d"></DeviceControl>
    </li>
    }
    

</ul>

@code {
    [CascadingParameter] public  DeviceControlDto[] Devices { get; set; }
}
