
<ul class="ux" style="width:100%">
    @foreach (var d in Devices)
    {
    <li class="">
        <DeviceControl Device="@d"></DeviceControl>
    </li>
    }
    

</ul>

@code {
    [CascadingParameter] public  DeviceControlDto[] Devices { get; set; }
}

<style>
    ul.ux {
        list-style: none;
    }

    .ux li {
        list-style: none;
    }

</style>
