@page "/"
@namespace HomeHubApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <title>HomeHubApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/w3.css" />
    <link rel="stylesheet" href="~/css/w3-theme.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
