@page "/garden"

@inject IHttpClientFactory _clientFactory
@inject HubClientService _hubClientService
@inject Repository _repository
@inject DeviceManager _deviceManager

<h1>Garden Page</h1>

@code{
}


