@page "/"

@inject NavigationManager _navigationManager


<h1>Home Hub 1.0</h1>

@code{

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.InvokeAsync(StateHasChanged);
        await Task.Delay(5000);
        await base.InvokeAsync(StateHasChanged);
        _navigationManager.NavigateTo( $"/lights/{DeviceTag.MainTag}");
    }

}


