@page "/scene"

@inject IHttpClientFactory _clientFactory
@inject HubClientService _hubClientService
@inject Repository _repository
@inject DeviceManager _deviceManager

<h1>Scene Page</h1>

@code{
}


