

<style>

.flex-container {
  display: flex;
  justify-content: center;
}

.pad-width {
    width: 20% !important;
}

</style>

<div class="w3-bar w3-center">

    <NavLink href= "/lights/UPPER">
        <div class="w3-bar-item pad-width">
            <i class="material-icons ">search</i>
            <div>top</div>
        </div>
    </NavLink>

    <NavLink href="/lights/MAIN">
            <div class="w3-bar-item pad-width">
                <i class="material-icons ">home</i>
                <div>main</div>
            </div>
        </NavLink>

    <NavLink href="/lights/GARDEN">
            <div class="w3-bar-item pad-width">
                <i class="material-icons ">search</i>
                <div>garden</div>
            </div>
        </NavLink>

        <NavLink href="all">
            <div class="w3-bar-item pad-width">
                <i class="material-icons ">home</i>
                <div>all</div>
            </div>
        </NavLink>

        <NavLink href="scene">
            <div class="w3-bar-item pad-width">
                <i class="material-icons ">face</i>
                <div>scene</div>
            </div>
        </NavLink>

</div>


@code {


}
